# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!astro-paper.config.ts
!/scripts
!/docs
!theme.lock.json
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Ignore MDX files
*.mdx
